<!DOCTYPE html>
<html>
    <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
    <h1>Login Form</h1>
    <p>
        <form action="/home" method="POST">
            Username : <input type="text" name="username" /> <br />
            Password : <input type="password" name="password" /> <br />
            <input type="submit" value="Submit" />
        </form>
    </p>
    </body>
</html>
